:root {
  --fs-xs: 0.75em;
  --fs-sm: 0.875em;
  --fs-base: 1em;
  --fs-lg: 1.125em;
  --fs-xl: 1.25em;
  --fs-2xl: 1.375em;
  --fs-3xl: 1.5em;
  --fs-4xl: 1.75em;
  --fs-5xl: 2em;

  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}
