:root {
  --spacing-0: 0rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.375rem;
  --spacing-3: 0.5rem;
  --spacing-4: 0.625rem;
  --spacing-5: 0.75rem;
  --spacing-6: 1rem;
  --spacing-7: 1.25rem;
  --spacing-8: 1.5rem;
  --spacing-9: 1.75rem;
  --spacing-10: 2rem;

  --rounded-sm: 0.25rem;
  --rounded-md: 0.375em;
  --rounded-lg: 0.5em;
  --rounded-xl: 0.75em;
  --rounded-2xl: 1em;
}
